# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List various Data Science Tools using tables
- Evaluating Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. ggplot
4. Plotly
5. Seaborn

| Data Science Tools |
|---|
| RStudio |
| JupyterNotebook |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:
Division - 6/3 -> 2 <br>
Addition and Division - (6/3)+5 -> 7

In [9]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Steshi